body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #fff;
}

p {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.grid h2 {
  font-size: 1.25rem;
  padding: 6px;
}

.stencil {
  font-family: 'Allerta Stencil', sans-serif;
}






.products button, .products select {
  background-color: initial;
background-image: linear-gradient(-180deg, #FF7E31, #FF7E31);
border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
color: #FFFFFF;
cursor: pointer;
display: block;
height: 40px;
line-height: 40px;
outline: 0;
padding: 0 20px;
pointer-events: auto;
position: relative;
text-align: center;
touch-action: manipulation;
white-space: nowrap;
width: 100%;
z-index: 9;
transition: all ease-in 0.5s;
-webkit-appearance: auto;
  /*webkit browsers */
  -moz-appearance: auto;
  /*Firefox */
  appearance: auto;
  margin-bottom: 12px;
  border: none;
}

.products button:hover, .products select:hover {
  background-image: linear-gradient(-180deg,#E62C03, #FF7E31);
}



nav {
  position: fixed;
width: 100%;
z-index: 3000;
background: #dc9389;
padding: 24px;
}



header {
  width: 100vw;
  height: 100vh;
  background: url(/two-words.jpg) 0 0 no-repeat;
  background-size: cover;
  font-family: 'Allerta Stencil', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #181c2d;
  transition: all ease-in 0.3s;
  cursor: pointer;
}

a:hover {
  color:#aa351f
}

.hero {
  height: 75vh;
  width: 100vw;
}

.bg-box {
  margin-left:480px;
}

.two-words {
  color: #fff;
  display: inline-block;
  padding: 3px;
}

.cart-count {
  font-size: 0.75rem;
}

.snipcart-cart-summary--edit.snipcart-modal__container {
  z-index: 10000;
}

.Brick.two-words {
  background-color: #aa351f;
}

svg.Brick {
  fill: #aa351f;
}

header span.Brick {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #aa351f;
}

.Black.two-words {
  background-color: #000;
}

svg.Black {
  fill: #000;
}

.Peach.two-words {
  background-color: #e7b299;
}

svg.Peach {
  fill: #e7b299;
}

.Green.two-words {
  background-color: #666654;
}

svg.Green {
  fill: #666654;
}

.Storm.two-words {
  background-color: #6b666a;
}

svg.Storm {
  fill: #6b666a;
}

.Navy.two-words {
  background-color: #181c2d;
}

svg.Navy {
  fill: #181c2d;
}

.Mauve.two-words {
  background-color: #dc9389;
}

svg.Mauve {
  fill: #dc9389;
}

.Dusty.two-words {
  background-color: #a7bab1;
}

svg.Dusty {
  fill: #a7bab1;
}

.products-headline {
  width: 421px;
  height: 820px;
  background-color: #dc9389;
  color: #fff;
  position: fixed;
  left: 0;
  top: 509px;
  opacity: 0.5;
  padding: 24px;
  font-size: 2.5rem;
}

.products {
  margin-top: 372px;
}

.article {
  margin-top: -800px;
  background-color: rgba(255,255,255,0.85);
  width: 1232px;
  padding: 40px 200px 120px 200px;
  font-size: 1.2rem;
  line-height: 150%;
  border-top: 4px solid #aa351f;
  border-radius: 3px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 500;
}

.article:after {
  content: "";
  border-bottom: 1px solid #aa351f;
  width: 25%;
  display: block;
}

.flex {
  display: flex;
  gap: 12px;
}

header .flex {
  gap: 24px;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .headline {
  left: 713px;
}

.bg-box img {
  top: 150px !important;
  padding-bottom: 140px !important;
  
}

.headline {
  position: absolute;
  left: 421px;
  text-align: right;
}

.reverse .headline {
  text-align: left;
}

.headline:after {
  content: " ";
  width: 800px;
  height: 500px;
  background-color: #AC6C6B;
  display: block;
  margin-top: 24px;
  box-shadow: 0 45px 90px rgba(166,166,162,.72)
}

.col {
  flex-direction: column;
  justify-content: center;
  height: 450px;
  gap: 24px;
  background: #f7ede1;
  padding: 44px;
  margin-top: 150px;
  margin-left: 131px;
  position: relative;
}

.reverse .col {
  position: relative;
  left: -468px;
  padding: 45px;
}

.grid {
  margin-left: 500px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
}

.cart-bottom {
  padding: 12px;
  background-color: #f7ede1;
  justify-content: center;
}

.grid .product-wrapper {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 350px;
}


img.product-image:hover {
  transform: scale(1.5);
  transition: all ease 0.5s;
}

.like {
  width: 24px;
  height: 24px;
  position: relative;
  top: 7px;
}

.logo {
  width: 24px;
}